<!DOCTYPE HTML>

<html>
  <header>
    <title>hack</title>
    <style>
      body {
      width: 100%;
      text-align: center;
      font-family: Helvetica Neue, Helvetica, Arial, Sans;
      color; #333;
      background-color: #faf7f1;
      }
      h3 {
      color: #f1e9d8;
      }
    </style>
  </header>

  <body>
    <h3> Invoices </h3>
  </body>

  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.4/zepto.min.js"></script>
  <script src="static/lang.js"></script>
  <script src="static/index.js"></script>
</html>
